<div class="span12 title affix top" style="position: fixed; top: 0px; z-index: 999999">
    <h2>Home</h2>
</div>
<div class="span12 content" ng-controller="CafeCtrl">
    <div class="cnt-box">
        <img src="img/cafe/default.png">
        <h3>Box title</h3>
        <p>Box Details</p>
    </div>
    <div class="cnt-box">
        <img src="img/cafe/default.png">
        <h3>Box title</h3>
        <p>Box Details</p>
    </div>
    <div class="cnt-box">
        <img src="img/cafe/default.png">
        <h3>Box title</h3>
        <p>Box Details</p>
    </div>
    <div class="cnt-box">
        <img src="img/cafe/default.png">
        <h3>Box title</h3>
        <p>Box Details</p>
    </div>
    <div class="cnt-box">
        <img src="img/cafe/default.png">
        <h3>Box title</h3>
        <p>Box Details</p>
    </div>
    <div class="cnt-box">
        <img src="img/cafe/default.png">
        <h3>Box title</h3>
        <p>Box Details</p>
    </div>
    <div class="cnt-box">
        <img src="img/cafe/default.png">
        <h3>Box title</h3>
        <p>Box Details</p>
    </div>
    <div class="cnt-box">
        <img src="img/cafe/default.png">
        <h3>Box title</h3>
        <p>Box Details</p>
    </div>
    <div class="cnt-box">
        <img src="img/cafe/default.png">
        <h3>Box title</h3>
        <p>Box Details</p>
    </div>
    <div class="cnt-box">
        <img src="img/cafe/default.png">
        <h3>Box title</h3>
        <p>Box Details</p>
    </div>
</div>