<div class="span12 title affix top" style="position: fixed; top: 0px; z-index: 999999">
    <h2>Search</h2>
</div>
<div class="span12 content">
    <form class="form-horizontal" style="margin: 20px auto;">
        <div class="control-group">
            <label class="control-label" for="inputEmail">Cafe</label>
            <div class="controls">
                <input type="text" id="inputEmail" placeholder="Cafe">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">Date</label>
            <div class="controls">
                <input type="text" id="inputPassword" placeholder="Date">
            </div>
        </div>
    </form>
</div>