<div class="span12 title affix top" style="position: fixed; top: 0px; z-index: 999999">
    <h2>{{cafe.0.name}}</h2>
</div>
<div class="span12 content">
    <div id="myCarousel" class="carousel slide" style="height:150px;">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">&nbsp;</div>
            <div class="item">&nbsp;</div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <h3 style="margin-left:10px;">Today's Menu</h3>
    <table class="table table-striped" style="margin: 5px auto; width:95%;">
        <tr>
            <td>Roshi</td>
            <td>Roshi</td>
        </tr>
        <tr>
            <td>Roshi</td>
            <td>Roshi</td>
        </tr>
        <tr>
            <td>Roshi</td>
            <td>Roshi</td>
        </tr>
        <tr>
            <td>Roshi</td>
            <td>Roshi</td>
        </tr>
        <tr>
            <td>Roshi</td>
            <td>Roshi</td>
        </tr>
        <tr>
            <td>Roshi</td>
            <td>Roshi</td>
        </tr>
        <tr>
            <td>Roshi</td>
            <td>Roshi</td>
        </tr>
        <tr>
            <td>Roshi</td>
            <td>Roshi</td>
        </tr>
    </table>


    <script type="text/javascript">
        $('.carousel').carousel()
    </script>
</div>